html, body
{
    height: 90%;
    padding-top: 20px;
    /* The html and body elements cannot have any padding or margin. */
}


/* envelopper le contenu de la page pour pousser le footer en bas de la page */
#wrap
{
    min-height: 95%;
    height: auto !important;
    height: 95%;
    /* Negative indent footer by it's height */
    margin: 0 auto ;
}


#footer
{
    height: 60px;
    background-color: #000000;
}


.credit
{
    margin: 20px 40%;
}

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}
 
article
{
    width: 625px;
    margin-right: 15px;
}

aside
{
    position: relative;
    width: 235px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    margin: 2%;
    color: white;
    font-size: 0.9em;
}

 
#writeMsg
{
    border-radius: 5px 5px 5px 5px;
    padding: 1px 0px 1px 25%;
    background-color: rgba(24,24,24,0.8);
    color: white;
}

.form-signin {
    max-width: 400px;
    padding: 19px 29px 29px;
    margin: 0 auto 40px;
    margin-top: 40px;
    background-color: rgba(24,24,24,0.8);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin input[type="submit"]
{
    margin: auto 70px;
}

.form-signin input[type="text"], .form-signin input[type="email"],
      .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}


.form-signin-heading
{
    color: white;
    margin:  auto 50px;
}